[2021-07-05 17:31] Lilith-In-Starlight opened #2 "The links for downloading, wiki and forums don't work"
https://audacium.seb1g.live/download, https://audacium.seb1g.live/forum and https://audacium.seb1g.live/wiki aren't functional. They all lead to a 404 page:

![image](https://user-images.githubusercontent.com/56773311/124504365-f0338400-dd8c-11eb-9755-98863fac5645.png)

[2021-07-05 17:32] AnErrupTion commented on #2
Yeah, they haven't been done yet. Are you looking to download the latest build?

[2021-07-05 17:37] Lilith-In-Starlight commented on #2
Yeah, where could I do so?

[2021-07-05 17:37] AnErrupTion commented on #2
I could build one and upload it in releases.

[2021-07-05 17:39] Lilith-In-Starlight commented on #2
That would be great, yeah

[2021-07-05 18:01] AnErrupTion commented on #2
Alright, I uploaded the latest build!

[2021-07-05 18:09] Lilith-In-Starlight commented on #2
Very appreciated!

[2021-07-05 18:09] #2 closed

[2021-07-05 18:14] davidak opened #3 "Collaborate in one fork"
There is one popular fork that is maintained, but looks for collaborators:

https://github.com/cookiengineer/audacity
https://fosspost.org/audacity-fork-needs-help/

I suggest you archive this repo, add a link to that fork and contribute there. It does not make sense to maintain multiple forks with the same goal.

Thanks for your efforts defending free software!

[2021-07-05 18:19] realseb1g commented on #3
it's always good to have more forks as well so in case one gets abandoned we have more

[2021-07-05 18:20] EchedeyLR commented on #3
The problem with that fork if being hosted in a personal repository which is also the main dev.

I would support this fork Instead.

[2021-07-05 18:29] EchedeyLR opened #4 "Stop promoting Discord use"
Last times I have seen some FLOSS projects go in this way for discussions.

There are FLOSS replacements to it, which you already use, and are very easy to use.

I understand that how the thing are done, the bridge is not going to be closed.

What I would do:
- Stop linking to Discord and accepting new users on it.
- Create a Matrix Space for the development.
- Close the bridge and the Discord com

[2021-07-05 18:31] davidak commented on #3
if there is a problem with a fork, it can be forked again. it does not make sense to split up the effort to create a good audio editor and limit the potential

that makes sense. please collaborate and figure it out together

[2021-07-05 18:33] EchedeyLR commented on #3
Sorry, but the way you came here was like "we did it first, we won".

Instead of giving an ultimatum I would have suggested only to speak between both sides and that is all.

[2021-07-05 18:34] realseb1g commented on #4
Agreed

[2021-07-05 18:42] davidak commented on #3
my only point is that the other fork is more popular (github stars), so it would make sense to build on that. i'm not part of it, just a user following the mess at audacity

this fork seem to have actually done more commits already, that speak for the maintainers

it does not make sense to have 2 active forks that every linux distro has to package. we can't afford this overhead

please collaborate

[2021-07-05 18:43] #4 closed

[2021-07-05 21:50] trumad commented on #3
Given that the other fork is veering towards calling it "sneedacity", I'm gonna keep an eye on this repo also and hope that it takes a better path.

[2021-07-05 23:14] CHJ85 commented on #3
I agree that the other fork should merge in with this one.
Correct me if I'm wrong (and no offense), but it seems that the dev behind this fork has a more constructive goal behind the project.
He even branded it with a name, logo and everything. The other project is still trying to come up with a name.
Both projects are essentially aiming towards the same goal. So why split the devs into two group

[2021-07-06 00:16] nulldg opened #5 ""The name Audacium is a registered trademark""
https://github.com/SartoxOnlyGNU/audacium/blob/d032c310253b95cc0b7bb54016700e7616584dbe/src/AboutDialog.cpp#L449-L450
https://github.com/SartoxOnlyGNU/audacium/blob/d032c310253b95cc0b7bb54016700e7616584dbe/src/AboutDialog.cpp#L455-L460
https://github.com/SartoxOnlyGNU/audacium/blob/d032c310253b95cc0b7bb54016700e7616584dbe/src/AboutDialog.cpp#L464
These lines and their formatting in AboutDialog.cpp

[2021-07-06 02:44] GeekyGami commented on #3
I also believe the other fork should be merged with this one or fall to the wayside.
This seems overall a lot cleaner, and handled a lot more seriously, and a lot more for the benefit of the program, than as some sort of PR stunt.

Let's wait and see, maybe SneedCity will be adopted first, who knows.

[2021-07-06 08:11] #5 closed

[2021-07-06 10:06] cx405 commented on #3
From user standpoint, it is irrelevant. Its only relevant from politics standpoint. User is only interested in the software not crashing and working well,.. basically as a reliable tool. And not spying ofc. How it is called, whom it belongs, how forked it is and why, for end user is irrelevant. Best.

[2021-07-06 12:47] majestrate commented on #3
that other fork's lead seems to have an improper temperament for a project lead of a contentious fork of a widely used software product. i think i would be more likely to contribute to this fork if it continues to devolve into madness over there.

[2021-07-06 14:32] MissLav opened #6 "Failing to enable plugins"
**Failing to enable plugins**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'the Effects Tab'
2. Click on 'add / remove plugin'
3. Select all
4. click enable
5. click ok
6. goto effects tab
7. see that none of the plugins got applied
**Expected behavior**
A clear and concise description of what you expected to happen.

OS: Manjaro
Build:  AUR repo

Video Showing issue
https://cdn.dis

[2021-07-06 14:44] AnErrupTion commented on #6
What version?

[2021-07-06 15:19] nulldg commented on #6
I'm getting the same issue. It seems other forks are having this problem too.

[2021-07-06 15:23] MissLav commented on #6
![image](https://user-images.githubusercontent.com/51702517/124626310-12e99980-de6e-11eb-8cb7-dfbc47f5ec8c.png)

hope this helps

[2021-07-06 15:48] AnErrupTion commented on #6
This is probably an Audacity bug too as I haven't touched with plugins at all. I'll try to see what's going on though.

[2021-07-06 18:16] brmonaghan commented on #6
Error: Failed to load shared library '.dll' (error 126: The specified module could not be found.)
Same here.

[2021-07-06 18:50] CHJ85 commented on #6
So you're saying the forkers should all role back a version?
According to the Audacity forums, this error message seems to be ffmpeg related. I tried to create a dummy file for avformat-55.dll, but with no luck.
The program is basically trying to find the Windows version of ffmpeg.

[2021-07-06 18:55] AnErrupTion commented on #6
Audacium compiles with FFmpeg already though, it's weird..
@MissLav what happens if you enable all plugins, click ok then just restart the app instead of going to check the plugins again?

[2021-07-06 18:56] brmonaghan commented on #6
It doesn’t work.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: ***@***.***>
Sent: Tuesday, July 6, 2021 2:56 PM
To: ***@***.***>
Cc: Bryce ***@***.***>; ***@***.***>
Subject: Re: [SartoxOnlyGNU/audacium] Failing to enable plugins (#6)

[CAUTION]: This email originated from outside of Wake Technical Community College. Do not click links or open attachments un

[2021-07-06 18:57] AnErrupTion commented on #6
Also how does this happen?

[2021-07-06 18:58] brmonaghan commented on #6
I enabled the plugins and it did not show under audacity effects.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: ***@***.***>
Sent: Tuesday, July 6, 2021 2:57 PM
To: ***@***.***>
Cc: Bryce ***@***.***>; ***@***.***>
Subject: Re: [SartoxOnlyGNU/audacium] Failing to enable plugins (#6)

[CAUTION]: This email originated from outside of Wake Technical Community C

[2021-07-06 19:15] AnErrupTion commented on #6
Well it also does the same thing on Windows, just tested.

[2021-07-06 19:17] brmonaghan opened #7 "The operation could not be completed. No such interface supported"
When building project it says this message
![image](https://user-images.githubusercontent.com/71337477/124655059-555ea680-de6d-11eb-9b5a-00eb5c51d8f0.png)

[2021-07-06 19:22] alienbob commented on #3
As a Slackware distro packager I am more inclined to follow Audacium than that other fork. I don't believe in "more popular fork" just because of a couple of stars. I believe in dedication and quality of work and I see that Sartox has the better papers.

[2021-07-06 19:29] brmonaghan commented on #7
Nevermind, got it to be fixed via msbuild

[2021-07-06 19:29] #7 closed

[2021-07-06 20:14] AnErrupTion commented on #3
I just doubt I'll be able to keep it up as the only person working on this, while the others will be much, much more.

[2021-07-06 20:14] majestrate commented on #6
if there was a big name change it could be that when a shared library is loaded it's looking for a symbol with `audacity` in it.

[2021-07-06 20:22] nulldg commented on #6
This exact bug seems to affect other forks too. Whatever this fork changed didn't cause it. I suspect it's an issue with 3.0.3 or with the release build missing something important.

[2021-07-06 20:30] riina commented on #3
Maybe it's an inordinate amount of work to just keep merging significant patches from upstream / PRs from the multiple people already expressing interest in this fork, but the point is there's already interest in this, so *you're not alone* (more collaborator positions?) and the scale thing doesn't necessarily mean anything, people just use what they want to use, and I think it's worth riding it o

[2021-07-06 21:03] grubeli commented on #3
Migrate to: https://github.com/tenacityteam/tenacity

[2021-07-06 21:04] AnErrupTion commented on #3
No, I'm keeping my fork.

[2021-07-06 21:06] AnErrupTion commented on #6
Yeah, probably Audacity fucked up something. I'll try to track where this issue is coming from first.

[2021-07-06 22:01] dontfwiththestream commented on #3
tenacity is ran by a guy who doesn't program in audacity's languages, and appears to also be a bit unstable

[2021-07-06 22:25] MrGucciL opened #8 "Significant issue"
Major issue with this fork is that it isn't based. Sneedacity is based, so I will use that one

[2021-07-06 22:42] #8 closed

[2021-07-06 22:47] AnErrupTion commented on #3
To be honest I'm still learning C/C++ but Audacity is giving me the opportunity to learn faster.

[2021-07-06 22:52] ApoorvaKashyap opened #9 "Remove Audacity Branding from Localisations"
The localisation files of this project reference Audacity's name several times. Since the name of the project has changed, this should be updated as well to avoid confusion.

[2021-07-06 22:53] AnErrupTion commented on #9
I don't see what you mean by localisation files.

[2021-07-06 22:55] ApoorvaKashyap commented on #9
Check the locale folder. I think it contains the various translations of the Audacity Interface.

[2021-07-06 22:56] ApoorvaKashyap commented on #9
I'm willing to update those files if you want to go ahead.

[2021-07-06 22:58] AnErrupTion commented on #9
Sure! You can make a PR!

[2021-07-06 22:59] AnErrupTion commented on #9
And yeah I didn't notice those files, how dumb of me x)

[2021-07-06 22:59] ApoorvaKashyap commented on #9
Fine. I'll update them and make a PR in a 2-3 days.

[2021-07-06 23:01] AnErrupTion commented on #9
Alright, thanks for contributing to the project!

[2021-07-07 07:32] Remzi1993 commented on #3
@AnErrupTion please close this issue for archival purposes. It's a strange issue and has nothing to do with the development of this fork.

Before doing so, I would like to point everyone out that I rescinded my support for the other project you all are referring to because of a lack of transparency, issues suddenly get deleted (very important ones like branding vote issue) and I couldn't put my tr

[2021-07-07 08:12] PlavorSeol commented on #3
You are not entitled to demand the maintainer of this fork to kill it and put their effort only to specific fork. Period.

[2021-07-07 08:24] PlavorSeol commented on #3
Note that this user also spammed [an issue](https://github.com/henricj/audacity/issues/5) on another repository with almost same content.

[2021-07-07 09:03] majestrate commented on #3
the understatement of the century.

[2021-07-07 09:04] majestrate commented on #3
this issue is off topic and should be closed.

[2021-07-07 09:31] mish1git commented on #8
You're wrong, this fork is very based.

[2021-07-07 10:21] CHJ85 commented on #3
@majestrate It's not really off-topic.
People are simply pointing out reasons as to why a collab is out of the question. 😀
Audacium sure could use the same amount of traffic and attention though.
Let's just keep em separated for now and see what happens.

[2021-07-07 10:25] #3 closed

[2021-07-07 11:00] trumad commented on #3
I thought that, but I've changed my mind. The main guy on Tenacity was allegedly stabbed by a 4channer who didn't like the name. You don't want that kind of attention. Hopefully Audacium continues quietly making improvements and slowly becomes the goto foss audio editor.

[2021-07-07 11:15] majestrate opened #10 "Make Audacium 100% offline only."
**Is your feature request related to a problem? Please describe.**
Audacium is an audio editor, it has no reason to talk to the internet.

**Describe the solution you'd like**
We should gutt all networking related code.

**Describe alternatives you've considered**
Possibly include AppArmour profiles that disallow network access.

**Additional context**
[another fork](https://github.com/Sneeds-Feed

[2021-07-07 11:20] AnErrupTion commented on #10
I've already removed crash reporting, and disabled most update checking. I think there should only be checking for updates when Audacity starts and not periodically. This is what most other programs do, so what do you think?

[2021-07-07 11:21] matt-hu commented on #10
I can see your point, however there is one use of it connecting to the internet I can see, checking for updates. This could be opt in, and could be useful when a package manager isn't being used (eg windows users)

[2021-07-07 11:23] majestrate commented on #10
on platforms where updates are not managed by a package manager it does make sense to keep it.
perhaps an AppArmour profile would be better here.

[2021-07-07 11:25] AnErrupTion commented on #10
All update checking is going to be made to the GitHub repo, so I don't think there's much concern here.

[2021-07-07 11:30] majestrate commented on #10
fair point.

[2021-07-07 11:30] #10 closed

[2021-07-07 11:43] majestrate commented on #6
is there a known working tag that can be bisected against?

[2021-07-07 11:49] Narice commented on #3
I'm pretty sure this fork will be very good, for now it is a smart move to keep this seperate and grow it gradually. When it is time and the situation cooled of, merging with other groups will be the best move, but for now it wouldn't be smart.

Also, please @AnErrupTion, remember to not associate with the sneedacity fork as they are related to the harassment of tenacity's ex maintainer
Please rea

[2021-07-07 11:52] ApoorvaKashyap opened #11 "Matrix Room Link Invalid"
I'm unable to join the Matrix Room of this project. Element returns a msg saying that the room is invalid. Pls update the link if there has been a change or remove it if it is no longer being used.

[2021-07-07 12:05] AnErrupTion commented on #11
Here it is: #audacium:envs.net (I made another one, since the other got deleted)

[2021-07-07 12:14] ApoorvaKashyap commented on #11
Thanks. Pls update it in the readme as well.

[2021-07-07 12:14] #11 closed

[2021-07-07 12:43] haya3218 commented on #6
Heard this has been fixed in Sneeds-Feed-and-Seed/sneedacity#66. Prolly merge or smth?

[2021-07-07 13:29] matt-hu opened #13 "Update Logo"
I noticed the very nice logo on the readme, but it's yet to be integrated into the application. What are you intending to use for the app logo? The two option I could think of is the whole logo or just the headphones?

Just some suggestions.

[2021-07-07 13:47] AnErrupTion commented on #13
I'm currently integrating it into the application, and properly scaling it (there's also a logo with only the headphones too which is going to be in the app) but currently I'm struggling so yeah x)

[2021-07-07 13:56] matt-hu commented on #13
Ah ok good luck!

There seems to be lots of variants to deal with. Have you got any plans for more general re theming for the rest of the app going forwards?

[2021-07-07 13:58] AnErrupTion commented on #13
I'm going to add the dark theme from DarkAudacity and plan to make the UI more organized.

[2021-07-07 14:01] matt-hu commented on #13
Just had a little look and there is already, but it's not automatically activated by the OS theme. Not sure how to do this but might be something I can look into. The main thing for me is in my opinion some of the buttons etc are looking a little dated.

[2021-07-07 14:03] AnErrupTion commented on #13
I know there's already a dark theme but it's not finished, the one from DA much better. It'll probably be the default theme in Audacium.

[2021-07-07 14:09] MurdoMaclachlan opened #14 "Discord link invalid"
Probably related to #11 -- the Discord link on the website & the README is an invalid invite right now.

[2021-07-07 14:10] matt-hu commented on #13
Ah ok. Good idea with dark as default!

[2021-07-07 14:26] AnErrupTion commented on #14
Here is a new link: https://discord.gg/ZH5234Abhb

[2021-07-07 14:27] MurdoMaclachlan commented on #14
Thank you!

[2021-07-07 14:27] #14 closed

[2021-07-07 14:40] CHJ85 commented on #3
@Narice When did this happen?
Yesterday he made up some crazy story about how he haven't slept for 2 days because people are harassing him over this fork, which makes no sense as the fork was made 2 days ago right after Muse Group decided to turn Audacity into spyware. The guy is a sympathy seeking drama queen. I wouldn't trust a word from him.

[2021-07-07 15:30] Remzi1993 commented on #3
Could be true, I have been watching from the sidelines, but I wouldn't assume anything yet. Drama and conflict always has two sides of a story. We just heard one side of it.

I mean, how the ex- maintainer handled some things were (how would I phrase it diplomatically) unexperienced. I would have handled some things differently. Since I have a little bit of experience myself, because I have mainta

[2021-07-07 15:35] #13 closed

[2021-07-07 18:40] #6 closed

[2021-07-08 02:00] InfosecGurung commented on #9
I'm working on this issue, but only modifying the comments and not code. I would not like to break the code :)

[2021-07-08 08:38] AnErrupTion commented on #9
The PR didn't fix this issue, so I'm re-opening it.

[2021-07-08 09:25] matt-hu opened #20 "Documentation"
We are going to need user documentation of some sorts. Now, the problem is the official Audacity documentation is on GitHub, however *it uses a creative commons license*. This means, as far as I am aware, if we use it we have to leave their copy-write notice in.

Now the other thing is how to host it. By the looks of it it is currently hosted on one of their servers, a luxury I'm assuming we don't

[2021-07-08 09:42] charliemartinez opened #21 "GNU/Linux build"
Hello! Could you make a self-sufficient build for GNU / Linux (that works, for example, inside the / opt folder). Something similar to what they did for Windows, only for GNU / Linux.

If you releases that build, I promise to package it in .deb and incorporate it into the official repository of the distro that I maintain (Quirinux GNU / Linux).

Greetings

:-)

Charlie Martínez

[2021-07-08 09:43] matt-hu commented on #21
I think that audacity use AppImages for their releases, but a .deb would be nice to have.

[2021-07-08 10:07] AnErrupTion commented on #21
I really don't see what you mean. Do you mean a CI integration that automatically makes builds? Do you mean a build that can install itself to /opt?

[2021-07-08 10:08] AnErrupTion commented on #20
I think we're going to use the GH wiki.

[2021-07-08 10:10] matt-hu commented on #20
Ah ok. The only thing with this approach is people can't PR changes to the wiki, but I guess that's not too much of a problem.

[2021-07-08 10:17] AnErrupTion commented on #20
They can edit the wiki though.

[2021-07-08 10:18] awslabspl opened #22 "Please accept me as an contributor/maintainer of the repo"
Ive been using Audacity ever since, I know it inside out, and do care a lot for it.

[2021-07-08 10:23] matt-hu commented on #20
At the moment we can't. It must be set to maintainers only or something?

[2021-07-08 10:26] AnErrupTion commented on #20
I mean they can edit pages of the wiki.

[2021-07-08 10:29] matt-hu commented on #20
Yeah I meant that only maintainers can edit the wiki. So if I wanted to help and add some stuff, for example, I couldn't. I'm guessing that is intentional though

[2021-07-08 10:33] AnErrupTion commented on #22
Do you know how to develop in C and/or C++?

[2021-07-08 10:34] awslabspl commented on #22
Of course I know :)

[2021-07-08 10:38] AnErrupTion commented on #22
Do you have any projects that you can show me?

[2021-07-08 10:42] awslabspl commented on #22
Sure........ just take a look [at my profile page](https://github.com/awslabspl?tab=repositories) some 80% projects are public..........

[2021-07-08 10:46] AnErrupTion commented on #22
All your projects do not have any C/C++ code in it.

[2021-07-08 10:51] awslabspl commented on #22
It doesnt mean I dont know/Im not familiar with C/C++..........

[2021-07-08 10:57] Narice commented on #3
That is right @Remzi1993, we only heared one side of the story, however, it's a mob versus a single guy so we will probably only hear the side of the single guy (as a mob is a group), and anyway I'm pretty sure no 4channers were hurt during the process.

I don't really know what you are exactly talking about, are you referring to the deletion of some GitHub issues? I'm pretty sure all deleted issu

[2021-07-08 11:00] realseb1g commented on #22
We'll consider it bro

[2021-07-08 11:07] AnErrupTion commented on #22
After thinking I may accept you if you can do some pull requests on the project (in the code, so that I can prove you know C and/or C++) and if I see that you do know those languages I'll invite you into the organization.

[2021-07-08 11:20] xlaustin1 commented on #22
Hi

[2021-07-08 11:52] realseb1g commented on #8
Yes

[2021-07-08 12:24] guss77 commented on #10
It is probably a good idea to have a way for distribution packagers to disable update checks - these do not play well with package managers.

[2021-07-08 13:54] JYamihud opened #24 "audacium.seb1g.live (website) theme problems. Hard to read."
# Issue

I already issued a similar bug on [Tenacity](https://github.com/tenacityteam/tenacity/issues/135), which had a white background website with a dark text. And my browser had some trouble with it. Probably since I'm using a global dark theme.

A lot of people might use similar themes. And if the background of the page is undefined the problem is that the text is dark on dark. On Audacium si

[2021-07-08 13:58] AnErrupTion commented on #24
Are you using Dark Reader? Normally the background is white, so how did you modify the page's background color?

[2021-07-08 15:44] fossdd commented on #22
@AnErrupTion You may also want to look at the tenacity chat log: https://github.com/tenacityteam/tenacity/discussions/159#discussioncomment-980104

[2021-07-08 15:54] AnErrupTion commented on #22
I did look at those, but if he isn't toxic with me and my team members and contributors, it's fine.

[2021-07-08 16:41] charliemartinez commented on #21
Of course, what I do is unpack the appimages that do not have official deb and then repackage them in deb. Example: Storyboarder. I think if you guys can launch an Audacium AppImage, it could do that. My debs are "installed" in the / opt folder even though they are actually portable, due to the nature of their origin.

[2021-07-08 16:42] charliemartinez commented on #21
A portable build for GNU / Linux.

[2021-07-08 18:54] matt-hu commented on #21
Yeah ok, we are working on getting the appimage working

[2021-07-08 18:56] realseb1g commented on #24
Disable DarkReader if you have it.

[2021-07-08 19:01] AnErrupTion commented on #24
No it works fine with Dark Reader.

[2021-07-08 19:58] realseb1g commented on #24
Weird?

On 8 July 2021 22.01.50 EEST, ShiningLea ***@***.***> wrote:

--
Lähetetty Android-laitteestani K-9 Maililla. Pahoittelut vähäsanaisuudestani.

[2021-07-08 20:23] AnErrupTion commented on #20
Anyone could also open an issue to tell a problem with the wiki. Closing as we know what we'll do.

[2021-07-08 20:23] #20 closed

[2021-07-08 20:24] AnErrupTion commented on #22
Closing this issue because @awslabspl has agreed to do PRs. Waiting for them! :D

[2021-07-08 20:24] #22 closed

[2021-07-08 23:43] loquesangra commented on #24
Maybe use some less bloated page theme? <_<

[2021-07-09 04:56] SFR-git commented on #24
Hey, Tenacity's website creator here. The problem was with the background being unset — it defaults to white on many (but not all) browsers. It's a couple of lines in CSS, nothing big.

[2021-07-09 08:26] AnErrupTion commented on #24
If it doesn't have JS it's not bloated :D

Yeah I know, I'll fix that soon.

[2021-07-10 11:32] matt-hu opened #28 "Distribution"
Ok, so now we have binary builds, we need to start thinking about getting our software out.

**Current places**
- AUR - git build

**Places we need to submit to**
- AUR (binary builds, *much* quicker to install)
- WinGet - need an installer first

**People we need to contact**
- [ ] Debian (?)
- [ ] Raspberry Pi
- [ ] Ubuntu (?)

Please let me know if I've missed any, I'll edit this as/when we sta

[2021-07-10 13:22] kirkmarkarian opened #29 "OS X Version - prebuilt binary?"
Couldn't find one, and am not a programmer.  How soon?  I'd prefer not to go back to the pre-trouble version of Audacity.

[2021-07-10 13:46] AnErrupTion commented on #29
Go to the Actions tab of the project, click on the latest workflow that has a checkmark on a green background, and go to the bottom and you should find a macOS build.

[2021-07-10 13:52] kirkmarkarian commented on #29
No luck - I found it, but it won't open, not even if I go to the "Wrapper" on the inside of the file.
![Screen Shot 2021-07-10 at 6 51 59 AM](https://user-images.githubusercontent.com/38725630/125165344-66e4ce80-e14b-11eb-8eb3-6b2b02bca7d2.png)
![Screen Shot 2021-07-10 at 6 51 55 AM](https://user-images.githubusercontent.com/38725630/125165345-677d6500-e14b-11eb-9b08-55a417d2cc6d.png)
![Screen Sho

[2021-07-10 14:00] realseb1g commented on #29
We don't have any macOS users here to test, I recommend coming to our Discord or Matrix and you can be our tester

[2021-07-10 14:40] Remzi1993 commented on #3
I don't want to go in depth why I think and see people (not only the core maintainer) who don't have experience with handeling an open source project, because it's in the past and I already pointed them out in the issue you're referring to.

As I said in that issue, deleting issues is not done and only ever done if the issue is totally spam. I never ever saw any project delete issues before this p

[2021-07-10 15:05] #29 closed

[2021-07-10 17:38] loquesangra commented on #24
If it looks bad on NetSurf it's bloated :D

[2021-07-10 17:46] AnErrupTion commented on #24
No that means it doesn't render HTML/CSS correctly :D (And I've tried NetSurf I know what I'm talking about)

[2021-07-11 12:10] CHJ85 opened #30 "Donation link"
Hi there. Great work on this fork. I love that you're so persistent on this project.
But I had an idea that'll encourage you to continue.
You should put a donation link inside Audacium, in the Help menu as well as the splash screen.
It should be a payment service that allows both crypto, paypal and credit card, like Stripe or Skrill.

[2021-07-11 13:07] AnErrupTion commented on #30
I have a Liberapay page where people can donate with PayPal, or at the bottom of the README I have a Bitcoin and Monero wallet address.

[2021-07-11 13:54] AnErrupTion commented on #9
How is the translation going @ApoorvaKashyap?

[2021-07-11 13:54] AnErrupTion commented on #28
I doubt Debian and Ubuntu will accept our request right now as they have an outdated wxWidgets version in their repositories, and since Raspbian uses Debian as their base they might also have an outdated version.

[2021-07-11 14:04] CHJ85 commented on #30
Right. But further down the line, it might be a good idea to put those links somewhere in the app itself, because most people don't go to github unless the software isn't available in their package manager / software center. And I'm sure once this fork gets off the ground, you'd like for it to become available in the distros repositories.

[2021-07-11 14:22] AnErrupTion commented on #21
Linux builds are now available, closing issue.

[2021-07-11 14:22] #21 closed

[2021-07-11 16:23] AnErrupTion opened #32 "Debian (?)"

[2021-07-11 16:23] #32 closed

[2021-07-11 16:25] matt-hu commented on #28
Ah ok, I wasn't aware of that. I'm guessing there isn't any way to bundle wxWidgets with audacium?

[2021-07-11 16:37] AnErrupTion commented on #28
It's already bundled, but I think package managers don't like that.

[2021-07-11 21:49] charliemartinez commented on #21
Thank you !!!

[2021-07-11 23:03] DC7IA opened #33 "Bitcoin is unethical"
**Describe the bug**
Bitcoin is unethical and a bug which threatens the very existance of humanity as it harms the planet through global warming.

**To Reproduce**
Steps to reproduce the behavior:
1. start mining bitcoin
2. planet gets warm
3. planet dies

**Expected behavior**
Bitcoin should not be used for donations.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-07-11 23:15] AnErrupTion commented on #33
Bitcoin isn't destroying our planet. Sure, it consumes a lot of power, but pretty much all other crypto currencies do. So basically, ban crypto currencies everywhere and force people use the even more unethical PayPal? (I mean, there is a way to donate to me via PayPal, because it's extremely popular and a lot of people use it, pretty much like Bitcoin... but your point is still invalid. And if yo

[2021-07-12 07:36] DC7IA commented on #33
Sounds like a good idea, actually. But...

A ridiculous amount of power. The average transaction needs much more power than a VISA transaction: https://www.statista.com/statistics/881541/bitcoin-energy-consumption-transaction-comparison-visa/

A single Bitcoin transaction needs on average 1662.11 kWh, while a single VISA transaction needs on average 0.0014863 kWh

That is ~1.118 million times as m

[2021-07-12 07:52] AnErrupTion commented on #33
You know that it's electricity being used right? Then think about the other, much worse energy sources like nuclear. Do you think we should eradicate Bitcoin first or nuclear? Of course, the latter. And Bitcoin is like AI, either let it live along with us or pretty much destroy a part of the world. You can't change the fact that Bitcoin is in our lives, but you can change the fact that nuclear is,

[2021-07-12 08:03] MurdoMaclachlan commented on #33
Sorry, but that's a logical fallacy. To say "this thing is really bad, but this thing that's unrelated to the conversation is worse so I'll still use the bad thing" is pure nonsense.

And nuclear *is* unrelated to the conversation. The conversation is about what form of donations are best for the environment, which nuclear energy doesn't relate to. The energy used for a bitcoin transaction is just

[2021-07-12 08:35] AnErrupTion commented on #33
I think we are going too off-topic here, closing.

[2021-07-12 08:35] #33 closed

[2021-07-12 09:40] jeyemwey commented on #33
Please reopen, the original problem has not been solved yet.

[2021-07-12 10:07] DC7IA commented on #33
Oh, why not do both?

Oh, if it already has been replaced then we can actually do both!

Not using bitcoin is simple: simply by not using it

[2021-07-12 10:37] ApoorvaKashyap commented on #9
It is just taking a little longer than I anticipated. I'm still working on it.

[2021-07-12 10:45] InfosecGurung commented on #9
I'll resume working on this issue, but won't be able to change all the occurances since there are a lot of files.

[2021-07-12 11:15] InfosecGurung commented on #9
Some of the files have been edited, not all. Will be sending PRs for the same. This should be over withing a week or two. Kindly do not close this issue since it's not been fixed. Thank you :D

I've been only lightly editing the files (only comments).

[2021-07-12 11:56] CHJ85 opened #35 "Additional library required to build on Linux."
Hi there. I wanted to try the latest version, so I decided to build on Linux.
However, the 2 pa_jack_dynload files are missing.

[code]
The files you need are https://github.com/audacity/audacity/blob/master/lib-src/portaudio-v19/src/hostapi/jack/pa_jack_dynload.c and https://github.com/audacity/audacity/blob/master/lib-src/portaudio-v19/src/hostapi/jack/pa_jack_dynload.h

After I added those and

[2021-07-12 12:08] AnErrupTion commented on #35
Alright I'll add those files. Also, for the Linux and Mac builds, you can find them in the Actions tab. The reason I can't put them into my releases is because I don't have any Mac hardware and my current PC can't really support VMs.

[2021-07-12 12:18] #35 closed

[2021-07-12 14:32] AnErrupTion commented on #24
A major problem is that I'm using markdown instead of HTML so that the page renders correctly (yes, jekyll uses markdown for pages) and thus there's no CSS.

[2021-07-12 16:49] pcnerd19 commented on #28
I'm not sure if ElementaryOS had their own repos, but I know Manjaro does so that might be another big distro to look at (if you want to go past the AUR). It's not my personal favorite, but I know a lot of people use Snap or Flatpak so that could also be a good place to get it for wide and easy availability.

[2021-07-12 17:44] #9 closed

[2021-07-12 17:58] AnErrupTion commented on #28
I hate snaps and flatpaks but we'll see if we can integrate Audacium into them. Also, no WinGet, it requires signing a CLA.

[2021-07-12 18:45] SnowmanKing opened #37 "Contributor"
Hello, I could be a contributor if you need another one. Thanks

[2021-07-12 18:48] SnowmanKing commented on #30
Definitely agree.

[2021-07-12 18:57] ApoorvaKashyap opened #38 "The .gitignore file is missing text-editor specific lines."
The gitignore file does not have the lines that tell git to skip text-editor specific folders/files like `.vs-code`. This needs to be added so that the forks or the clones don't break down due to text-editor related settings.

[2021-07-12 18:57] AnErrupTion commented on #37
Sure. Do you have experience in C/C++, and do you have any projects that you can show me?

[2021-07-12 19:12] #38 closed

[2021-07-12 19:43] SnowmanKing commented on #37
To be honest, I don't have a lot of experience. I could help with the wiki or in minor areas in the code. I haven't uploaded any projects to github (most were in python).

[2021-07-12 19:54] AnErrupTion commented on #37
Well, there are tons of python files in Audacity, and if you could rewrite some of the files to wiki pages it would be nice! If you want to start with the wiki I'd have to make you part of the organization (so that you can edit it), but if you're going to start with the python stuff you could just do PRs. What will you do?

[2021-07-12 20:36] SnowmanKing commented on #37
I can start with the wiki and then see about working on the python later. Do we want to make it similar to the audacity wiki (of course with obvious changes).

[2021-07-12 20:44] Camology commented on #37
Can be closed now, from the official page:

_Donations

You can donate to me via PayPal using the Sponsor button on GitHub and going to my Liberapay page, or support me via Bitcoin or Monero :

Bitcoin : bc1qz6f2gu8f2vr8knyt8y76jxc8h7an93695kyyj0
Monero : 4834cgrEKBgbYVugTxHzZPJqyDXBBhreNF4CxauZCbLAQfrzeFuRifE4Pwy6uAH3t61rLwe89XF3v775qfuRzr8mRHzuZfk_

[2021-07-12 20:46] AnErrupTion commented on #37
@Camology What does this have to do with the current issue topic?

[2021-07-12 20:47] SnowmanKing commented on #37
@Camology What are you talking about?

[2021-07-12 20:49] Camology commented on #37
wrong issue, my mistake

[2021-07-12 20:49] AnErrupTion commented on #37
@SnowmanKing I've invited you into the organization (you have to accept). I'm trusting you since you've been since the start of the project. One major fuck up (like any intentional security flaw, for example...) and you're out.

[2021-07-12 20:50] Camology commented on #30
This is the one I meant to comment on, no need since it is on the website.

Donations

You can donate to me via PayPal using the Sponsor button on GitHub and going to my Liberapay page, or support me via Bitcoin or Monero :

Bitcoin : bc1qz6f2gu8f2vr8knyt8y76jxc8h7an93695kyyj0
Monero : 4834cgrEKBgbYVugTxHzZPJqyDXBBhreNF4CxauZCbLAQfrzeFuRifE4Pwy6uAH3t61rLwe89XF3v775qfuRzr8mRHzuZfk

[2021-07-12 20:55] #37 closed

[2021-07-14 08:10] mish1git commented on #33
We can pretty much fix cryptos fucking up the environment by moving all the big crypto farms from China to Paraguay.

[2021-07-16 06:20] DovIchilov opened #39 "audacium does not open."
I'm not a native English speaker. i apologize in advance for any grammar errors.
**Describe the bug**
i just installed audacium 3.0.4 with the available installer. i have it installed, and when i open it - the splash screen appears and just vanishes.  also tried to install through winget, but there's no difference.

**To Reproduce**
1. install audacium 3.0.4.
2. launch the app.

**Expected behavio

[2021-07-16 09:19] DovIchilov commented on #39
re-installing it resolved the problem somehow

[2021-07-16 09:19] #39 closed

[2021-07-16 20:57] Sta-ray opened #40 "Splash image appears, but Audacium does not open"
Description:
Upon opening Audacium.exe after installation using the installer, the splash image will show for a few seconds, then Audacium will not open. Task Manager shows Audacium Cross-Platform sound opening briefly then closing again

Additional Info:
 - OS: Windows 10 Build 18363.1440
 - Version Audacium v3.0.4x64

I saw a previous issue where the bug reporter had fixed the issue by reinstall

[2021-07-17 06:53] xxxcrow commented on #40
Same here

 - OS: Windows 11 Build 22000.71
 - Version Audacium v3.0.4x64

[2021-07-17 11:39] AnErrupTion commented on #40
Can you try with the latest build from GitHub actions?

[2021-07-17 12:43] Sta-ray commented on #40
@AnErrupTion I've tried running the Audacium.exe from the latest version in Actions from 9:15 BST today, but this hasn't stopped the issue.

[2021-07-18 15:23] mystic-akito opened #42 "Cannot import ffmpeg into audacium"
**Describe the bug**
In Audacium, if you try to import ffmpeg, nothing will happen. Even if you try to restart it and do it agian, it does not help.

**To Reproduce**
Steps to reproduce the behavior:
1. Open up preferences (Ctrl + P)
2. Click on libraries
3. Click on Locate...
4. Browse for avformat-55.dll
4. Click on OK
5. Nothing happens.

**Expected behavior**
ffmpeg is supposed to be added aft

[2021-07-18 20:19] xxxcrow commented on #40
Exactly the same 😄

[2021-07-21 01:28] NekomusuMae opened #43 "Installer for macOS and Linux"
**Is your feature request related to a problem? Please describe.**
There is no installer for macOS and Linux. This is annoying as a Ubuntu user.

**Describe the solution you'd like**
Installer for macOS and Linux

**Describe alternatives you've considered**
Being able to `sudo apt install audacium` would be nice too.

[2021-07-21 11:49] enterv0id commented on #40
same W10

[2021-07-21 19:10] AnErrupTion commented on #43
To be able to install via apt, we would need to add the packages to the Ubuntu repositories, we're currently working on that. And for an installer, there is an AppImage for portable builds, though I understand having an installer would be nice.
We currectly do not have any installers. A solution would be to build a deb file for Ubuntu/Debian, we're thinking of doing that.

[2021-07-22 07:24] ApoorvaKashyap commented on #43
I've created an unofficial deb file for the time being. It is available at [Debian/Ubuntu Package](https://github.com/ApoorvaKashyap/audacium/releases/tag/Audacium-Deb-July-22) . I you want you can use that for till an official release comes out.

[2021-07-22 16:53] fell-z commented on #40
The same issue happens with me

- Windows 10 OS Build 19043.1083
- Version Audacium v3.0.4x64

[2021-07-22 23:24] AnErrupTion commented on #40
Can anyone try to reproduce this issue on Linux? I need to know if this issue affects Linux too.

[2021-07-23 04:05] ApoorvaKashyap commented on #40
No it doesn't. Though Audacium does take a while to start up after clicking on the launcher icon.

[2021-07-25 19:54] JimFlasch opened #44 "won't recognize recording devices"
The latest version of Audacium (7/12/2021) does not recognize any recording devices. That dropdown menu is totally empty. I use Windows 10.

[2021-07-26 09:49] charliemartinez commented on #21
Sorry, do you mean [this unofficial installer](https://github.com/ApoorvaKashyap/audacium/releases/tag/Audacium-Deb-July-22)? Because I couldn't find an official one for GNU/Linux.

[2021-07-26 13:37] DD-Indeed opened #45 "Doesn't start"
Installed the software, and it doesn't start. The splash screen pops up, but nothing happens after that. Been trying administrator mode with the starting but no luck with that either.

Win10 x64

[2021-07-26 14:19] Grabstertv commented on #45
Can confirm. Same issue here. Program won't launch.

[2021-07-31 18:52] stariwinkle commented on #45
Same problem here.

Win11 22000.100 x64

[2021-07-31 21:05] k1tsunee commented on #45
Yep, same here.
Windows 10 21H1 19043.1110

[2021-08-03 02:05] FrostKnight commented on #24
Thank you for forking audacity, I hope you will make this fork more lightweight,privacy friendly, etc...

More on topic though, I hope this website issue will get fixed, for some people it might be annoying.

[2021-08-04 17:14] TimJentzsch commented on #45
Same here, crashes with Segmentation fault.

[2021-08-06 18:42] bascurtiz opened #47 "Logo / style proposal for Audacium"
![Audacium-banner-v1](https://user-images.githubusercontent.com/34075088/128556898-e6cfc03a-c481-4ac9-b8e8-528c61f0e557.png)
![Audacium-banner-v1-inverted](https://user-images.githubusercontent.com/34075088/128556907-8cb6a1a8-d4e9-461a-9f84-3759085583dd.png)

![Audacium-logo-v1](https://user-images.githubusercontent.com/34075088/128556920-4f7aec2e-5fc4-4b62-b533-18b0e6ddf769.png) ![Audacium-logo-v

[2021-08-06 19:46] AnErrupTion commented on #47
Looks stunning, however I think if we want color variants we would want to modify the audio waveforms and the A in the middle to a uniform color, and keep this current logo as the "universal" one.

[2021-08-06 19:47] bascurtiz commented on #47
Good thinking! I'll play around with that idea.

[2021-08-06 23:43] bascurtiz commented on #47
On 2nd thought, the A doesn't have to shift in color to make it work.
Since I use the colors of the logo in the audio waveforms.
Then we can use the Theme selector, to go with Dark Orange, Dark Pink, Dark Purple, Dark Blue, Dark Green.
I haven't created the `ImageCache.png` for the Bright/inverted variant yet, but first I'd like your opinion on these for Dark theme.

![Orange](https://user-images.

[2021-08-07 05:33] ApoorvaKashyap commented on #47
Wow!!! This is pretty awesome.

[2021-08-07 13:03] bascurtiz commented on #47
EDIT:
- Refined app icons added
- Audio waveforms cooler, so they don't get too vibrant + slightly lighter for better contrast

![Orange](https://user-images.githubusercontent.com/34075088/128601037-13205cce-abf8-49cf-8479-b1930887d3f0.png)

![Pink](https://user-images.githubusercontent.com/34075088/128601041-7f1bdc85-8e08-4a2d-85b5-05dfbc2d8513.png)

![Purple](https://user-images.githubuserconten

[2021-08-07 16:18] bascurtiz commented on #47
Bright themes:

![Orange-Bright-Theme-Example](https://user-images.githubusercontent.com/34075088/128606745-5f78c396-9d92-4fdf-96b2-b5cd549c8bcd.png)

![Pink-Bright-Theme-Example](https://user-images.githubusercontent.com/34075088/128606750-1705eda0-742b-4765-bdee-81852add6caa.png)

![Purple-Bright-Theme-Example](https://user-images.githubusercontent.com/34075088/128606754-910fe56c-27af-4107-be0d-

[2021-08-07 16:31] bascurtiz commented on #47
About Dark & Bright theme incl. icon & logo:

![About-Darkt](https://user-images.githubusercontent.com/34075088/128607207-6d8aa25b-861f-4622-9686-54c43ac521aa.png)

![About-Bright](https://user-images.githubusercontent.com/34075088/128607210-8a982747-a1fd-4cef-8e6a-1e589990a0d4.png)

[2021-08-07 16:54] bascurtiz commented on #47
Icon Dark & Bright background:

![Audacium-icon-v1---dark-bg-256px](https://user-images.githubusercontent.com/34075088/128607939-19908854-923a-4447-b134-40632d233510.png) ![Audacium-icon-v1---bright-bg-256px](https://user-images.githubusercontent.com/34075088/128607936-85290c68-6ebf-41ac-acdd-277cbe36e03b.png)

[2021-08-07 17:07] bascurtiz commented on #47
Original icons vs new:

![original-icon-vs-new](https://user-images.githubusercontent.com/34075088/128608300-cf02ab1c-5fb7-4d96-b0ce-ab6fb2f6786e.png)

[2021-08-07 21:11] MissLav commented on #47
good work mate looks amazing

[2021-08-08 08:24] realseb1g commented on #47
Man, I love this! Good job

[2021-08-08 12:25] bascurtiz commented on #47
@AnErrupTion
Can you confirm, I can push changes to the repo incl. altering `AllThemeResources.h` ?

[2021-08-14 17:37] AnErrupTion commented on #47
@bascurtiz Sorry for the late response, those themes look great! You can do a pull request anytime soon :D

[2021-08-14 22:51] bascurtiz commented on #47
Great! Will do tomorrow.

On Sat, 14 Aug 2021 at 19:37, ShiningLea ***@***.***> wrote:

[2021-08-17 06:56] xtemp09 opened #49 "10 million samples limit"
Could you remove 10 million samples limit in [src/FreqWindow.cpp](https://github.com/SartoxOnlyGNU/audacium/blob/master/src/FreqWindow.cpp#L596)?

I would be really grateful if you will increase the limit.

[2021-08-20 13:39] Pyr-000 commented on #40
I'm having the same issue & exception with the installer version (July 12th)
The July 10th portable version (7z) seems to be working fine.
(Win10 20H2 Build 19042.1165; Audacium 3.0.4-x64)
[code]

[2021-08-20 15:48] BorniPL commented on #45
Same. Splash logo appears, process is loading and it is dropped soon after.

[2021-08-20 15:52] BorniPL commented on #40
Confirmed. Extracted .7z version from 10th July directly to the C:/Program Files/Audacium/ and it started to work.

[2021-08-20 22:31] AnErrupTion commented on #49
This might make Audacium lag or this might even create bugs. Why would you create 10 million samples in the first place? (Not to judge, just curious)

[2021-08-21 04:49] xtemp09 commented on #49
https://user-images.githubusercontent.com/9303235/129841257-34e6b925-ce82-4225-bd64-3d1a5cb8e08c.png

[2021-08-21 11:07] bascurtiz commented on #45
@BorniPL @TimJentzsch @k1tsunee @stariwinkle @Grabstertv @DD-Indeed
Can you try this one and let us know if it works proper:
https://github.com/ewanm89/audacium/releases/tag/3.0.4-alpha-2021-07-17
Thank you.

[2021-08-21 11:31] DD-Indeed commented on #45
Yup, this did the trick, works now.

[2021-08-21 15:42] BorniPL commented on #45
Yes - installed this one on top of the old one and it works.

[2021-08-22 14:07] kajlamo commented on #43
.appimage, please.

[2021-08-22 15:08] ApoorvaKashyap commented on #43
The AppImage file is available here : (https://github.com/SartoxOnlyGNU/audacium/actions/runs/1152257018). You need to download the zip file which has the title Audacium _Linux_...

[2021-09-04 09:53] jt15s opened #51 "Installer Markdown/HTML does not render properly"
When installing Audacium, the information panel that pops up after Audacium has been installed does not render the mix of HTML and Markdown properly, and instead the user is presented with the plain text plus formatting marks:
![image](https://user-images.githubusercontent.com/75475674/132090353-cd163229-e051-450e-8220-98a3aec40967.png)

Thanks in advance!

[2021-09-04 10:00] jt15s commented on #45
Had the same issue on Windows 11 build 22000.176 and installing that alpha solved the issue.

[2021-09-04 10:04] jt15s commented on #47
Wow, this looks amazing! Have the icons and the graphics in the Installer been updated too? Might be good to update those as well if not.

[2021-09-04 10:05] jt15s commented on #47
BTW when can one expect a release with the updated branding?

[2021-09-04 10:17] jt15s commented on #45
Any chance we could have some sort of stable release to fix that issue? It's quite a critical one that stops people from using the app.

[2021-09-04 10:22] jt15s opened #52 "Use newer Windows file-picker"
I've noticed Audacium uses the older style Windows file-picker when selecting files, which have older icons, UI and aren't theme-compatible with the rest of the OS. More frustratingly, it has a different layout to File Explorer, which makes it a bit harder to find files.
![image](https://user-images.githubusercontent.com/75475674/132091160-58c02fe3-f634-40ad-8648-9d832017076d.png)

Most apps use a

[2021-09-04 10:31] jt15s commented on #24
@AnErrupTion Not sure if all static site generators are similar, but I've used Hugo before and there's a spot where the CSS for the site theme is stored and you can easily change that to your liking. Not sure if this will help but I did a quick search and found this page on using Jekyll with CSS: http://simpleprimate.com/jekyll-for-designers/blog/css/

[2021-09-14 00:20] liamreoch commented on #51
What OS?

[2021-09-14 03:51] jt15s commented on #51
@liamreoch Windows 11.

[2021-09-27 01:48] JimFlasch commented on #45
Did not work for me - also got an error message about how it could not find any recording or playback devices.

[2021-10-31 12:18] kvaDrug opened #55 "Xcode build error: does not recognize the toolset buildsystem=1"
I'm trying to build audacium on macOS, Xcode 12.5.1. Getting this error:
[code]

CMakeOutput.log:
`The system is: Darwin - 20.6.0 - x86_64`

[2021-11-15 16:34] AyrA commented on #45
## Error details

	Faulting application name: audacium.exe, version: 3.0.4.0, time stamp: 0x60ec39c5
	Faulting module name: audacium.exe, version: 3.0.4.0, time stamp: 0x60ec39c5
	Exception code: 0xc0000005
	Fault offset: 0x000000000070292f
	Faulting process ID: 0x5bb8
	Faulting application start time: 0x01d7da3e544a31bb
	Faulting application path: C:\Program Files\Audacium\audacium.exe
	Faulting

[2021-11-16 22:35] AnErrupTion commented on #45
Duplicate of #40, closing.

[2021-11-16 22:35] #45 closed

[2021-11-16 22:37] AnErrupTion commented on #55
I'm not familiar with macOS, is this version of Xcode recent or not? If it is then it might be the problem. Either way it's a problem in the main CMakeLists.txt file as specified by the error. I'll look at it.

[2021-11-16 22:38] AnErrupTion commented on #52
This might be a wxWidgets restriction, but I'm not sure. I'll see.

[2021-11-16 22:39] AnErrupTion commented on #30
Donate to me via Litecoin now, as I currently control that wallet (lost control of the 2 other ones)

[2021-11-16 22:39] AnErrupTion commented on #44
Did you try the July 10th build? It might've been caused by the PortAudio update.

[2021-11-17 05:45] AnErrupTion commented on #40
Can anyone here try the new build from GitHub Actions to see if it fixes the problem?

[2021-11-17 12:51] Pyr-000 commented on #40
The latest build from actions (CMake Build #83) on win64 seems to be working perfectly fine for me.

[2021-11-18 15:15] MurdoMaclachlan commented on #40
The latest build doesn't work for me but I'm not sure if my issue is the same one or not. I'm on Linux (Slackware Current); after the splash screen, the main window opens for a split-second before Audacium crashes. Running it in a terminal gives no output.

[2021-11-23 08:58] AnErrupTion commented on #49
@xtemp09 Could you give me that track or a similarly long track and how you were able to reproduce that? I would appreciate that.

[2021-11-23 09:34] xtemp09 commented on #49
https://cloud.mail.ru/public/4AYT/1suMCGFBD

Select the track, choose Analyze->Plot Spectrum

[2021-11-23 10:52] AnErrupTion commented on #40
This issue looks to be fixed, closing.

[2021-11-23 10:52] #40 closed

[2021-11-23 11:09] AnErrupTion commented on #49
What I suggested was true, removing that limit makes Audacium lag. It works though.

[2021-11-23 11:12] #49 closed

[2021-11-23 11:15] AnErrupTion commented on #28
@matt-hu Any progress?

[2021-11-23 11:16] #44 closed

[2021-11-23 11:20] AnErrupTion commented on #47
@bascurtiz Is it all done or are there some missing pieces here and there?

[2021-11-23 12:51] #30 closed

[2021-11-23 13:01] bascurtiz commented on #47
All done

On Tue, 23 Nov 2021, 12:21 Turion64, ***@***.***> wrote:

[2021-11-23 13:02] #24 closed

[2021-11-23 14:03] AnErrupTion commented on #43
Related to #28, closing...

[2021-11-23 14:03] #43 closed

[2021-11-23 14:04] AnErrupTion commented on #47
Alright! Closing.

[2021-11-23 14:04] #47 closed

[2021-11-23 14:26] AnErrupTion commented on #52
Nervermind, it looks like there's a file dialog wrapper for Windows, macOS and Linux and the Windows one is based on older APIs. It would take quite some time to rewrite that wrapper.

[2021-11-24 13:55] courbeges opened #57 "App doesn't run on MacOs 10.13"
Hi everybody,

   There seems to be a problem with the MacOs version

https://github.com/SartoxSoftware/audacium/releases/download/v1.0.0/Audacium_macOS_Intel_1495198346_7c3a6d5.zip

The zip file can be unzipped without problem, but then the application (audacity.app) won't run (see the attached screenshots.
The app "audacity.app" there is really audacity (2.4.2), and audacium should be the app "a

[2021-11-24 15:06] Ygarr opened #58 "cannot run manjaro"
[code]

[2021-11-25 05:12] AnErrupTion commented on #58
It does the same on my Arch system and it seems to be an Arch-specific problem. It seems to be related to the version of glibc installed on the system (https://bbs.archlinux.org/viewtopic.php?id=269838)

[2021-11-25 05:14] AnErrupTion commented on #57
I don't own a Mac so sadly I couldn't test the binary before uploading. However I'm guessing it's just a packaging problem since there shouldn't be any problem with the code. Could you try to build Audacium yourself and try the built binary?

[2021-12-05 23:55] generic-pers0n commented on #52
Hello guys!

This will be very interesting since I'm the developer of [Saucedacity](https://github.com/saucedacity/saucedacity). Regardless, I hope to contribute something to this issue. ;)

Although I have never taken a look at Audacium's code base, it is derived from Audacity. As Saucedacity is derived from Audacity also, I believe we should have a lot of things in common.

@AnErrupTion was righ

[2021-12-10 13:31] pjalsGit commented on #28
Fedora/RedHat would be nice, even if it would just be [COPR](https://copr.fedorainfracloud.org/coprs)

[2021-12-10 19:11] AnErrupTion commented on #57
@courbeges A quick question, did you test opening Audacity.app at all?

[2021-12-10 19:16] AnErrupTion commented on #58
I think it's a problem of GitHub Actions, though I'm not sure, as when generating a (non AppImage) binary, it works, but I'll have to look further into that (with some VMs of course)

[2021-12-10 19:18] AnErrupTion commented on #51
This is probably going to be replaced by simple text. (I don't think we can render HTML here)

[2021-12-10 19:19] AnErrupTion commented on #42
@mystic-akito Could you try with the latest 1.0.0 release please?

[2021-12-10 19:19] AnErrupTion commented on #28
@pjalsGit Agreed, but we have yet to know the status of the current distribution.

[2021-12-10 21:59] courbeges commented on #57
Yes I did. Here are more details:

* In fact, I compiled Audacium some time ago (in August) from sources on
Linux Ubuntu, and after some trials, it was ok (except some plugins crashing).

* I asked the question about this compilation problem on Mac for a friend of mine,
who tried to install it and didn't succeed. I have no access to his machine (due to
pandemic situation), and I don't know much ab

[2021-12-10 22:23] courbeges commented on #57
And as for Audacity.app on my friend's Mac, it is the original version of Audacity (2.4.2 I guess), running ok.

[2021-12-10 23:34] AnErrupTion commented on #42
Seems to be fixed with 1.0.0. Awaiting response.

[2021-12-10 23:58] AnErrupTion commented on #57
I don't own a Mac but as soon as I can make a Mac VM, I'll try fixing that. Unfortunately, for the time being, I can't do much. Sorry about that.

[2021-12-11 11:31] AnErrupTion commented on #57
Oh, a dumb question, but are you using an ARM-based or Intel-based Mac? @courbeges

[2021-12-11 14:27] courbeges commented on #57
My friend's Mac is Intel based.

[2021-12-11 15:34] AnErrupTion commented on #57
Currently, Audacium only works on Intel-based Macs.

[2021-12-11 15:37] courbeges commented on #57
Ok. So it should work on my friend's Mac... :-\

[2021-12-11 20:45] AnErrupTion commented on #51
Fixed in recent commit, closing.

[2021-12-11 20:45] #51 closed

[2021-12-12 14:13] Tobilike opened #62 "High DPI Support"
Hi, i use a 4K Display and push the DPI up to get nice locking, not to small Interface. My settings works with all Program except audacium. DPI has no effect.

I use a up-to-date Manjaro - System.

[2021-12-14 15:52] ewanm89 commented on #28
Winget CLA is only for the manifest YAML so it know where to get the installer from and what version it is.

[2021-12-14 19:58] AnErrupTion commented on #28
Ah, alright. I'll check it out then!

[2021-12-15 17:07] mystic-akito commented on #42
Sorry, I didn't go on github in a while, but yeah, it works now. Thank you for fixing.
![image](https://user-images.githubusercontent.com/50081890/146232006-cfc67160-ca29-4f12-ba1e-cea9e263f6be.png)

[2021-12-15 17:08] #42 closed

[2021-12-15 18:24] AnErrupTion commented on #62
This would require us to wait for wxWidgets (3.2 I think) to implement high DPI. Making the application aware of DPI doesn't seem to work.

[2021-12-15 21:16] Gootector opened #79 "The installer does not contain popular languages"
The installer does not contain popular languages:
- Polish
- French
- German
- Italian
- Japanese
- etc.

[2021-12-15 21:53] AnErrupTion commented on #52
Another idea would be to just remove Audacium's modified FileDialog, and use wxFileDialog and a simple wrapper (like AudaciumFileDialog) for our needs. This allows me to not have to update the file dialog itself, while having relatively light code.

[2021-12-15 22:19] generic-pers0n commented on #52
That's what I was thinking alternatively. In fact, I think a lot of things in Audacium might be modified for no apparent reason (e.g. FileDialog).

Actually, this sounds like the better solution. I just say go with it, especially since we should be using wxWidgets 3.1.3. In fact, I say a lot of things might be better off using wxWidgets' stock counterparts, but that would otherwise require more di

[2021-12-16 02:19] jt15s opened #82 "Update link to Audacium website in "About Audacium" window"
The "About Audacium" window (Help >About Audacium) still links to the Audacium website at https://audacium.seb1g.live/ when it should link to the Audacium website at https://audacium.xyz/

Thanks!

[2021-12-16 02:25] jt15s opened #83 "Investigate signing Audacium installers"
Would be good if we could investigate signing the Audacium installers for Windows and maybe MacOS (not too sure how MacOS works though, do they have installers similar to Windows?).

I'm aware that certificates are apparently quite expensive, but it's good to see what the options are and how we could possibly get the installers signed so operating systems don't display any safety warnings for the

[2021-12-16 02:27] jt15s commented on #28
Maybe getting Audacium on the Microsoft Store would be good too?

[2021-12-16 03:10] generic-pers0n commented on #52
On second though, it appears that FileDialog is...more intertwined than I thought, but I just started looking at it. (At this point, it now makes sense, but that's because my mind scrambles things a lot).

For getting this solution done, it seems that the 1st is faster, but I agree more with the 2nd: it's better to drop FileDialog in the long run (in my opinion) because, like you said, it allows f

[2021-12-16 16:11] AnErrupTion commented on #82
Already updated upstream.

[2021-12-16 16:11] #82 closed

[2021-12-16 16:16] AnErrupTion commented on #83
Yeah, well, that's going to cost money, and for now this is not possible. This is staying open though.

[2021-12-16 16:17] AnErrupTion commented on #79
Ah, yes, that's an issue. It's weird that other languages are there though.

[2021-12-17 11:17] AnErrupTion commented on #52
It's harder than expected. Turns out it does modify quite a bit of stuff, and wxFileDialog doesn't have a default constructor, which is a bit problematic in that case. We'll need to revisit this.

[2021-12-17 11:22] AnErrupTion commented on #28
@jt15s Yup, I'll look into that too!

[2021-12-17 11:28] AnErrupTion commented on #28
Also, someone updated Audacium to 1.0.0 in WinGet: https://github.com/microsoft/winget-pkgs/pull/37770

[2021-12-17 12:11] #79 closed

[2021-12-17 15:10] generic-pers0n commented on #52
Yep. Having worked on this, the default constructor appears to be the biggest issue here because compiling fails on Windows. I believe I might have figured out all (or at least some) of the places where FileDialog is used (i.e. I have a path ready), and since then they have been replaced with wxFileDialog, but I still have more testing to do.

The only thing I can think of right now is possibly de

[2021-12-17 16:26] AnErrupTion commented on #52
I tried that, however there are other errors (like missing functions and constructors that are in wxFileDialog, weird)

[2021-12-17 16:33] generic-pers0n commented on #52
Ummm...well, time to rethink this through, then. I'll have to take a look at this.

I think I now see why we have a modified `wxFileDialog` (i.e. `FileDialog`) in the first place: this is why. (And there might be other reasons too, but this is one of them)

[2021-12-17 23:26] Gootector commented on #79
OK, thanks for the info.

Greetings,
Gootector

[2021-12-24 16:02] ewanm89 commented on #28
Hehe, someone must have posted that not long after my message about the CLA

[2021-12-27 18:19] gianmarcogg03 opened #85 "Cannot compile on Arch Linux"
**Describe the bug**
I can't get Audacium to compile on Arch Linux with the AUR package, but it seems to be an issue with the actual code instead of the PKGBUILD from the AUR.

**To Reproduce**
Steps to reproduce the behavior:
1. `yay -S audacium-git`
2. Try with or without a clean build

**Expected behavior**
Should compile perfectly.

**Screenshots**
I've got the error.
[code]

**Additional info

[2021-12-27 20:33] Lonniebiz opened #86 "AppImage of Audacium"
How difficult would it be to provide an AppImage of Audacium. I don't yet know how to make one for myself, but I do sure want one.

[2021-12-28 02:15] jacop5 opened #87 "Typo in Wiki: Building for macOS running on Apple Silicon"
Since the correct generator name for Apple XCode is "Xcode", `cmake` won't run unless it is written with the right capitalisation. And also, no directory exists under `audacium/audacium`, so the source directory should be `..`
In the end, we should have:

`$ cmake -G Xcode -T buildsystem=1 -Daudacity_use_mad=off -Daudacity_use_id3tag=off ..`

Instead of:

`$ cmake -GXCode -T buildsystem=1 -Daudaci

[2021-12-29 12:56] realseb1g commented on #85
I think you're better off reporting the issue to the AUR package maintainer first.

[2021-12-29 13:31] gianmarcogg03 commented on #85
I did and I tried to reinstall but it didn't work, so they told me to come here.

[2021-12-29 15:26] AnErrupTion commented on #87
Well, about that, if it's just "..", it will not work, it has to be "../audacium" (at least on Linux)

[2021-12-29 15:29] AnErrupTion commented on #86
You would have to run a script to create it, however the only current way to generate one is via a CI script on GH Actions.

[2021-12-29 15:30] AnErrupTion commented on #85
I think that's due to my most recent commit, I have yet to investigate and fix it.

[2021-12-29 17:12] jacop5 commented on #87
<img width="889" alt="Schermata 2021-12-29 alle 18 11 44" src="https://user-images.githubusercontent.com/96621577/147686920-4b7d427e-6d36-4e97-ba97-d73ecca32265.png">
If I use `../audacium` it doesn't work, while if I use `..` it does.

[2022-01-04 07:21] MrOpenDoor opened #88 "There isn't Russian language in the installer."
I'm from Russia and I know Russian better than other languages.
So could you add it to Audacium please? 🙏

[2022-01-08 21:58] gianmarcogg03 commented on #85
Uhhhh the bug isn't fixed yet.

[2022-01-11 06:53] CHJ85 opened #91 "HIDPI support"
Hi there. HIDPi is kind of a mess, as some apps do not scale right.
On my 4K monitor, the buttons in Audacium are very tiny.
For most apps that doesn't support HIDPI, I can use the command "QT_DEVICE_PIXEL_RATIO=2 QT_AUTO_SCREEN_SCALE_FACTOR=true" before the program I'm executing.
But because I'm using the AppImage build of Audacium, this does not work because AppImages are containerized.
So do yo

[2022-01-12 05:39] AnErrupTion commented on #91
It wouldn't work for 2 reasons-
First, like you said, AppImages are containerized, but also the fact that Audacium is compiled with GTK and not Qt.

Also this is a duplicate of #62.

[2022-01-12 05:39] #91 closed

[2022-01-12 05:41] AnErrupTion commented on #88
@MrOpenDoor Already been fixed upstream, closing.

[2022-01-12 05:42] #88 closed

[2022-01-12 06:12] CHJ85 commented on #91
Okay thanks. Sorry, I didn't mean to post a duplicate.

[2022-01-12 06:29] CHJ85 commented on #62
Then how come Tenacity supports HIDPi.
What is their magic sauce?

[2022-01-12 21:00] AnErrupTion commented on #85
@gianmarcogg03 Could you please try now?

[2022-01-12 21:24] gianmarcogg03 commented on #85
Works now, thank you.

[2022-01-12 21:24] #85 closed

[2022-01-13 20:38] AnErrupTion commented on #62
I don't know what changes they've made to their code, however I can most likely guarantee it's a change with the main manifest file of the executable, or perhaps they're already com:piling with Qt and are using Qt-specific settings as said in #91. Although for the first I already tried and it didn't seem to work.

[2022-01-14 06:45] AnErrupTion commented on #52
@generic-pers0n @jt15s Good news, it will be fixed soon, since I've found a solution. Using wxFileDialog is fine, no need for a wrapper, it just uses the constructor of wxFileDialog which takes the parent window, then instead of setting all parameters inside the constructor, we set them outside (with functions from wxFileDialog). I tested for opening a project and it seems to work.

[2022-01-14 06:46] jt15s commented on #52
Wow, that's great news! Thanks so much for looking into this!

[2022-01-14 10:03] AnErrupTion commented on #52
So, there is a little problem, and that seems to be with the Export file dialog. We'd have to create a separate Export dialog with the options, then use the wxFileDialog there. I'm going to first commit the other parts with the newer file dialog soon, then progressively work on the Export dialog.

[2022-01-14 11:47] AnErrupTion commented on #52
@jt15s I've gone ahead and pushed the commits, you can check the changes if you want to!

[2022-01-14 17:52] AnErrupTion commented on #87
Well, sorry for the long wait, but I've gone ahead and corrected the changes in the wiki.

[2022-01-14 17:52] #87 closed

[2022-01-14 17:54] AnErrupTion commented on #55
@kvaDrug Right, so looking at https://cmake.org/cmake/help/latest/generator/Xcode.html#xcode-build-system-selection, it seems like that variable chooses the Xcode build system, and 1 is for the original build system. I would need to know what macOS version, CMake version and Xcode you have installed, and whether or not you have an M1 Mac.

[2022-01-15 19:22] #52 closed

[2022-01-15 19:39] generic-pers0n commented on #52
Awesome to hear this! Glad that there's a solution without using a wrapper.

What I now question is why was there a wrapper in the first place? It didn't seem necessary in the first place. Either way, at least we can (mostly) drop this wrapper, although, like was said, there still needs to be some things that have to be done with FFmpeg. For now, let's rejoice! :D

[2022-01-15 19:41] AnErrupTion commented on #52
What do you mean by that?

[2022-01-15 20:03] king-dahmanus commented on #52
Hey buddies! Please consider not to disrupt accessibility when you replace
this opening dialogue thing. Thanks.

On Sat, Jan 15, 2022, 8:41 PM Turion64 ***@***.***> wrote:

[2022-01-15 20:40] AnErrupTion commented on #52
@king-dahmanus Do you mean the new Export dialog or the newer file picker?

[2022-01-15 21:02] king-dahmanus commented on #52
both of them

On Sat, 15 Jan 2022 at 21:40, Turion64 ***@***.***> wrote:

[2022-01-15 21:26] AnErrupTion commented on #52
@king-dahmanus Okay, one last question. Are there any accessibility issues on the Export Multiple dialog? (File ->Export -> Export Multiple...)

[2022-01-15 22:13] king-dahmanus commented on #52
no, seams pretty accessible to me. It's fine. Please change the open and
save dialogues into the ones which have the treeview and all, I think that
this is what you're trying to do right?

On Sat, 15 Jan 2022 at 22:26, Turion64 ***@***.***> wrote:

[2022-01-15 22:44] AnErrupTion commented on #52
Hm, that is weird, as the new Export dialog is essentially using the same code as the Export Multiple dialog (at least, for creation). Also, I'm trying to use the newer Windows file picker (see the original comment all above), and it's done (the old one is now gone). It's weird to me that this one has accessibility issues. I would appreciate it if you could please tell me what kind of accessibilit

[2022-01-16 11:56] king-dahmanus commented on #52
basically, they confuse me. Most of the file dialogues I'm used to have a
treeview at the left/before the file list, but the one which is in audacity
has a look in combo box, and it rarely glitches and prevents me from
reading the items by continuously saying unknown.

On Sat, 15 Jan 2022 at 23:44, Turion64 ***@***.***> wrote:

[2022-01-16 12:42] AnErrupTion commented on #52
@king-dahmanus Is there a way you could post a quick screenshot of what's happening please? I can't seem to understand what's going on.

[2022-01-16 13:33] king-dahmanus commented on #52
sorry don't know how to do that

On Sun, 16 Jan 2022 at 13:42, Turion64 ***@***.***> wrote:

[2022-01-16 14:02] AnErrupTion commented on #52
@king-dahmanus If you're on Windows, go to the start menu or the search bar and type "Snipping Tool". Then, select the mode "Rectangle mode" if it's not that already, then click on "New" and select the area where you want to take the screenshot.

After that, click on the window of the Snipping Tool (to focus it) and press Ctrl + C. Finally, go to GitHub, and in your new comment press Ctrl + V to p

[2022-01-16 15:46] king-dahmanus commented on #52
dude no big deal, it's so rare and when I look at it with my lo vision I
don't see any weird thing, just a typical open dialogue

On Sun, 16 Jan 2022 at 15:02, Turion64 ***@***.***> wrote:

[2022-01-16 15:58] AnErrupTion commented on #52
@king-dahmanus Alright, if you say so.

[2022-01-16 17:57] AnErrupTion commented on #57
@courbeges Any updates?

[2022-01-17 22:59] courbeges commented on #57
Not really. I have tried to write a script and send it to my friend, but at some point something
couldn't be installed (if I remember correctly, there was a problem with the version of 'cmake',
not handled by the version of the system). So we gave up, hoping for future versions...

[2022-01-18 05:29] zg-gh opened #92 "ALSA is the only available host (JACK not in the list) [Ubuntu Studio]"
**Describe the bug**

I am trying to record from my Yamaha keyboard, which goes through Qsynth and Jack. This requires selecting Jack as the "Host" in audacity, then selecting Qsynth as the recording device, however the dropdown list that typically includes both ALSA and Jack only inlcudes ALSA for me.

I built a fresh copy of Audacium an hour or so ago to test, FYI.

**To Reproduce**
Steps to rep

[2022-01-18 05:38] AnErrupTion commented on #92
I think the problem here is that Audacium is not compiled with Jack support. If you have built with the configure.sh script, then edit it, and add to the cmake command the argument ``-Daudacity_use_pa_jack=loaded`` (right after the ffmpeg argument).
Then, make a clean build (this way we remove any potential error related to that). Just delete your builds folder, then run configure.sh again.

[2022-01-18 05:54] AnErrupTion commented on #57
That's weird. Although I think the main problem here is about packaging, more specifically that we aren't renamed everything yet. I'll be looking at that soon.

[2022-01-18 06:28] zg-gh commented on #92
Thanks for the quick response.

When I try this, I get a new builds folder, but there is no audacium build inside it, nor most of the stuff that goes with it. I have tried passing the ```-DCMAKE_BUILD_TYPE=Release``` option to make a release build as well as the default debug build. Either way my builds directory tree looks like this:

builds/bin/Debug/lib/audacity

this 'audacity' folder is empty

[2022-01-18 07:47] zg-gh commented on #92
Thanks for the quick response.

I have tried this a few times, with the Debug and Release builds, and am unfortunately still having the same problem. Despite Jack being on, only ALSA appears in the dropdown list for hosts. The build seems to work otherwise.

Thanks again for your help.

[2022-01-21 03:56] badlydrawnface commented on #57
I have had the exact same error trying to build Audacium on an M1 MacBook Pro for x64 and Universal.

[2022-01-21 19:03] AnErrupTion commented on #57
@badlydrawnface Audacium does not work on M1 Macs yet.

[2022-01-24 03:13] evanescente-ondine opened #95 "how to add new plugins manually. I need noise gate."
Hi,
I'm not sure if it's a feature demand or bug report, but when do we add new plugin manually ?
Where or which is the folder where Audacium expects the plugin files ?
I started using audacium because it's stable and doesn't crash all 10 minutes (or ten seconds) like all other Audacity clones or the original.
But I wouldn't see much interest if I can't use noise gate.

[2022-01-28 12:02] mk00pl opened #96 "Can't properly save a recorded data."
**Describe the bug**
When you try to export a recording, there is
no actual option to do that.

**To Reproduce**
-Record any audio
-try to export it

**Expected behavior**
There should be an option to save the recorded audio

**Screenshots**
![audacium](https://user-images.githubusercontent.com/83863599/151543592-bc8c9019-1dcb-4c65-92e8-2e334be73a27.png)

**Additional information (please complete

[2022-01-28 12:06] mk00pl opened #97 "I would like to offer my help with this project."
Hi. As you mentioned in the Readme, you are looking for contributors,so here I am. I have tried to build an appimage of
this software, but first I would like to resolve the previous problem with audio exporting.
#96

Regardless,is there anything I can help you with?

[2022-01-28 20:32] AnErrupTion commented on #96
Ah yes, that is a problem. Looks like it's treated as an Open dialog instead of Save dialog, which is wrong.

[2022-01-28 20:33] AnErrupTion commented on #97
@mk00pl Thanks! So first, I would like to know if you know how to code in C/C++. If you do that's good, you could help me code! But if you don't it's fine too, you could work on as a project manager.

[2022-01-28 20:34] AnErrupTion commented on #95
@evanescente-ondine The plugins are located at ``/usr/share/audacium``.

[2022-01-28 20:42] mk00pl commented on #97
@AnErrupTion I used to code in C and C++ in the past but I haven't coded anything in those languages for some time. Perhaps I will be able to find some time to relearn those 2 languages again.

[2022-01-28 20:49] AnErrupTion commented on #97
@mk00pl Do you have a Matrix account? If yes please add me: @anerruption:envs.net. If you don't please create one then add me (so we can talk about that)

[2022-01-28 21:19] mk00pl commented on #97
@AnErrupTion is there any other way to contact you except for Matrix? (like email,xmpp,telegram etc.)

[2022-01-28 21:48] AnErrupTion commented on #97
@mk00pl I do have an XMPP account if you want! ``anerruption@disroot.org``

[2022-02-01 21:04] JimFlasch opened #98 "Will not import a newly recorded MP3 but will import other MP3s"
**Describe the bug**
Will not import a newly recorded MP3 but will import other MP3s

**To Reproduce**
1. use a an MP3 converter to convert a cassette tape to MP3.
2. attempt to import newly recorded MP3 into Audacium and get message saying "Audacity did not recognize the type of file '...*.mp3. Try installing FFmpeg" even if the proper library is installed.
3. attempt to import another mp3 file t

[2022-02-01 23:04] AnErrupTion commented on #98
I'm guessing the converter has a problem. What's the name of it?

[2022-02-02 02:17] gravcast commented on #96
This bug also happens when I try to save project. I am on endeavourOS using KDE Plasma

[2022-02-02 18:45] mk00pl commented on #97
@AnErrupTion I have tried to reach you both on matrix and xmpp, but I haven't got any response there. Would like to tell me what is the plan here instead?

[2022-02-04 03:40] JimFlasch commented on #98
Blumway cassette tape to mp3 converter. And this is the first time Audacium / Audacity has had a problem importing the mp3s it creates - and only the mp3s it creates. It's handled them fine before.

[2022-02-06 13:29] AnErrupTion commented on #97
@mk00pl I didn't get anything on XMPP, and on Matrix nothing either. At least if you could join the Audacium matrix room (https://matrix.to/#/#audacium:envs.net), unless you're already there. So because you know (or used to know at least) how to code in C and C++, you could help me with the development (I had a TODO list with some bug fixes and features to add).

[2022-02-08 08:07] kvaDrug commented on #55
CMake 3.16.1, Intel processor.

[2022-02-15 07:37] kazuhiroshigeru commented on #96
I can confirm this issue on Arch Linux with KDE. it was working fine before the last updates

[2022-02-17 04:23] JimFlasch commented on #98
And suddenly, without my doing anything to cause it, Audacium can't find my recording and playback devices!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! WHY????????????????????????????????

[2022-02-17 23:24] AnErrupTion commented on #98
@JimFlasch Can you, when you launch Audacium, go to the Help menu on the top and show the logs? There should be a section called "Logs" and in there you should be able to show a Log window, where you basically get all the logs. Perhaps there'll be more information.

[2022-02-17 23:24] AnErrupTion commented on #97
@mk00pl Any update on your side?

[2022-02-20 12:11] AnErrupTion commented on #98
Right. You need to download a specific version of FFmpeg for Audacium (5.0 is too recent). Go there to see how to install it: https://manual.audacityteam.org/man/installing_ffmpeg_for_windows.html. Then, manually locate FFmpeg again (go to the settingts, then Libraries, then Find FFmpeg or something like that)

[2022-02-22 04:10] JimFlasch commented on #98
Alright, now I can import the  file I couldn't import before; however, my other, more recent problem - the sudden inability to find  and recognize my recording and playback devices (as of 5 days ago) - persists. How do I fix that?

[2022-02-25 18:55] drquadriple opened #100 "Installing audacium or audacium-git via the AUR always seems to fail at Build."
**Describe the bug**
Installing the `audacium` or the `audacium-git` packages through the Arch User Repository on Linux fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Have the YAY AUR helper installed on your Arch/Arch-based system.
2. Run: `yay -S audacium`, or `yay -S audacium-git`
3. Leave it for a while.
4. It'll fail at build

**Expected behavior**
The Package to correctly build

[2022-03-01 04:04] silverhikari opened #101 "conflicting decleration of c function in ffmpeg.h"
**Describe the bug**
when trying to build audacium on arch based distros, there seems to be a confliction deceleration of c functions in the ffmpeg.h which seems to be cause by the ffmpeg version update to n5.0

**To Reproduce**
Steps to reproduce the behavior:
1. attempt to build audacium
2. build errors out
**Expected behavior**
builds successfully

**Additional information (please complete the

[2022-03-01 04:35] Fijxu commented on #101
Same error here, this also affects tenacity

[2022-03-01 12:51] silverhikari commented on #101
i can also hazard a guess that this is the same issue that #100 is having

[2022-03-01 19:47] AnErrupTion commented on #101
Don't build on the experimental FFmpeg 5.0 branch, but build on master instead.

[2022-03-01 19:47] AnErrupTion commented on #100
This is not enough, we would need more output to actually determine the issue.

[2022-03-02 01:05] silverhikari commented on #101
i am confused, i am building with the master branch, the ffmpeg that is installed on the system is 5.0, so do i build it with the 5.0 branch to get it to work?

[2022-03-03 14:38] evanescente-ondine commented on #95
/usr/share/audacium/plug-ins
 7971 ├──􀀀  adjustable-fade.ny
 1297 ├──􀀀  beat.ny
 [...]
 1522 ├──􀀀  lowpass.ny
 **_6547 ├──􀀀  noisegate.ny_**
 1173 ├──􀀀  notch.ny
[...]
  13K ├──􀀀  vocalrediso.ny
 5337 └──􀀀  vocoder.ny

Why can't I install it then ? it doesn't shown in the list.

[2022-03-03 14:39] evanescente-ondine commented on #95
inxi
CPU: dual core Intel Celeron N2840 (-MCP-)
speed/min/max: 2583/500/2582 MHz Kernel: 5.16.11-arch1-1 x86_64
Up: 3d 13h 30m Mem: 3671.5/7835.0 MiB (46.9%)
Storage: 698.64 GiB (38.8% used) Procs: 170 Shell: fish
Endeavouros, Audacium 1.0.0-alpha-20220122

[2022-03-03 15:05] drquadriple commented on #100
This is the entire output, though.
It doesn't appear to show any logs, however?

[2022-03-03 19:53] AnErrupTion commented on #95
That's weird, if it's there it should be in the list. You tried finding it in the Plugins list right?

[2022-03-03 21:10] MurdoMaclachlan commented on #101
I wouldn't call FFmpeg 5.0 experimental at all. It's a major release version and was released as stable back in January. They even added a note at the end of the [release announcement](https://ffmpeg.org/index.html#news): "We strongly recommend users, distributors, and system integrators to upgrade unless they use current git master." You don't strongly recommend people to update to very experimen

[2022-03-03 23:36] evanescente-ondine commented on #95
"add/remove plugins" or something like that. Yes, the list.

[2022-03-05 01:38] thelinuxcast commented on #100
I am also having this problem. This is the full output when trying to install with paru.

[code]

[2022-03-08 09:26] AnErrupTion commented on #101
@silverhikari Do you have the ``ffmpeg`` package installed? This might be the cause of the error.

[2022-03-08 09:26] AnErrupTion commented on #100
@drquadriple Do you have the ``ffmpeg`` package installed? This might be the cause of the problem.

[2022-03-08 17:20] thelinuxcast commented on #100
Uninstalling ffmpeg and rebuilding worked for me.

[2022-03-08 21:56] silverhikari commented on #101
@AnErrupTion as stated above the version of ffmpeg installed is 5.0

[2022-03-09 23:20] kubast2 commented on #101
[code]
the ffmpeg4.4 pkgconfig path

[code]
/usr/share/pkgconfig
/usr/lib/pkgconfig

seems to be where pkgconfig files are stored

PKG_CONFIG_LIBDIR=/usr/lib/ffmpeg4.4/pkgconfig:/usr/lib/pkgconfig yay -S audacium

"Package xproto was not found in the pkg-config search path.
Perhaps you should add the directory containing `xproto.pc'
to the PKG_CONFIG_PATH environment variable"

So this isn't how t

[2022-03-10 13:35] AnErrupTion commented on #98
@JimFlasch Could you send your logs now please?

[2022-03-10 13:47] AnErrupTion commented on #101
@silverhikari You might want to try and uninstall the ffmpeg package, build audacium then reinstall the package if necessary, as this was the solution to the problem for a user at #100.

[2022-03-10 13:51] AnErrupTion commented on #96
Weirdly enough, the file dialog style is already as a save dialog. This doesn't seem to happen everywhere, but at least this seems to happen on GNOME and KDE as of this issue, but not on Windows for sure.

[2022-03-11 04:06] JimFlasch commented on #98
Here's my latest log:

23:01:44: Audacium 1.0.0-beta-20211210
23:01:44: Trying to load FFmpeg libraries...
23:01:44: mLibAVFormatPath ('C:\FFMPEG\ffmpeg-5.0-essentials_build\bin\avformat-55.dll') is not empty. Loading from it.
23:01:44: Looking up PATH environment variable...
23:01:44: PATH = 'C:\Program Files\Common Files\Oracle\Java\javapath;C:\Program Files (x86)\Common Files\Oracle\Java\javapa

[2022-03-11 05:18] cauebs commented on #100
This is not really a decent solution. Too many packages depend on `ffpmeg`.

[2022-03-12 19:56] kazuhiroshigeru commented on #100
removing ffmpeg breaks too many things on arch linux. pacman refuses to remove it.

[2022-03-12 20:01] kazuhiroshigeru commented on #101
removing ffmpeg breaks too many dependencies and packages on arch so its not a viable solution.

[2022-03-19 22:02] LDovic opened #103 "Cmake conan error when building on Ubuntu"
**Describe the bug**
When running the `./configure.sh` script, I get this error:

[code]

My conan version is 1.46.2.
My python3 is version 3.8.10
My cmake is version 3.16.3.
My ubuntu version is 20.04.4.

I think the issue could be that I could not install g++17 using `sudo apt-get install g++-4.7 c++-4.7`
I'm not sure what C++17 compiler I can use other than this. Any help or advice is much appr

[2022-03-22 19:16] kubast2 commented on #100
@drquadriple
[code]
Then you reboot/unmount the overlay;

It worked for me, only pkg-config files need to be overlayed(basically the pkgconfig files of the 4.4 library are seen instead of the 5.0 this way, without altering the file system, the folder can be unmounted, because the pkconfig files contain info about linking to the ffmpeg 4.4 libraries;

It isn't a good solution for the package mainta

[2022-03-25 05:05] kazuhiroshigeru commented on #100
thanks. it now builds sucessfuly on arch.

[2022-04-12 12:56] realtoastyboio commented on #96
This also happens on i3wm.

[2022-04-19 15:03] da-the-dev opened #107 "AVcodec error when building"
**Describe the bug**
While building the app (step 3 in [building instructions](https://github.com/SartoxSoftware/audacium/wiki/Building), section for Linux) I get an error described below

**To Reproduce**
Steps to reproduce the behavior:
1. Follow [building instructions](https://github.com/SartoxSoftware/audacium/wiki/Building) for Linux

**Expected behavior**
A successful installation of Audaciu

[2022-04-22 06:28] kazuhiroshigeru commented on #96
this is happening again on the latest version.

[2022-05-12 04:45] support-monkey commented on #103
I have the same issue on Manjaro Linux. It fails to build properly. i am using the latest versions of Conan, Python, CMake that came from Arch/Manjaro repositories.

[2022-05-12 04:48] support-monkey commented on #100
I have the same issue on Manjaro Linux. It fails to build properly. i am using the latest versions of Conan, Python, CMake that came from Arch/Manjaro repositories.

I agree, it cannot be removed on Arch/Manjaro. I use Manjaro, and I have the same issue on Manjaro Linux. It fails to build properly. i am using the latest versions of Conan, Python, CMake that came from Arch/Manjaro repositories.

[2022-05-27 06:58] yoloholo opened #108 "Virus total Trojan flag"
**Issue**
Scanning "Audacium_macOS_Intel_1495198346_7c3a6d5.zip" on virustotal flags it as [Trojan](https://www.virustotal.com/gui/file/331e93b651e0cf0b2dd52f089f7b376ba89ac6544f01891a2f5e142d6de7975f)

**Screenshots**
![VTscan](https://user-images.githubusercontent.com/96405538/170647740-eeab33a4-f3fc-4bc7-9019-c3f0019c351b.png)

**Additional info**
 - OS: [Mac OS catalina]
 - Version scanned [[v

[2022-05-31 23:19] silverhikari opened #109 "build fails requiring a compiler version newer then the latest release of Conan"
**Describe the bug**
when building the latest commit of Audacium, a error appears that cause the build to fail, which is caused by the "compiler.version" setting being 12 while the highest the latest version of Conan will go up to is "11.1"

**To Reproduce**
Steps to reproduce the behavior:
1. git pull or clone the repository
2. build cmake with configure.sh or through commandline
3. error appears

[2022-05-31 23:35] silverhikari commented on #109
this has been tested with conan-git which also has the error appear

[2022-06-01 06:38] crsib commented on #109
I think you need to delete `~/.conan/settings.yml` and the error will be gone

[2022-06-01 07:02] silverhikari commented on #109
@crsib yes that fixed it, thank you!

[2022-06-01 07:02] #109 closed

[2022-06-07 02:07] RoonMoonlight commented on #108
False positive, feel free to ignore

[2022-06-15 23:16] MinePro120 commented on #95
I experience the exact same issue (same with Tenacity tbh).

[2022-07-07 20:50] Reaper10 opened #111 "Make this app an alternative to TwistedWave and or Ocenaudio"
think you could Make this app an open-source alternative to [TwistedWave](https://twistedwave.com/) and or [Ocenaudio](https://www.[ocenaudio]%28https//www.ocenaudio.com/en/startpage).com/en/startpage)

[twistedwave videos](https://www.youtube.com/results?search_query=twistedwave)

[Ocenaudio videos](https://www.youtube.com/results?search_query=Ocenaudio)

there need android app windows app store

[2022-08-05 17:07] maretranquilitatis opened #112 "Compiling instructions won`t compile"
**Describe the bug**
According to: https://github.com/Audacium/audacium/wiki/Building " It is possible to build using AppleSilicon hardware but mad and id3tag should be disabled", but the suggested command gives me the following error: "CMake Warning:
  No source or binary directory provided.  Both will be assumed to be the
  same as the current working directory, but note that this warning will

[2022-08-05 17:12] generic-pers0n commented on #112
Hello! In the screenshot, it looks like you haven't specified the source dir. To do this, add "../audacium" to the end of the command. This is assuming your build dir is separate from the source dir.

[2022-08-07 07:01] maretranquilitatis commented on #112
Oh, in the instructions there were only two dots at the end of the command, so I added ../audacium and then started to compile! (This is my first try to compile something) Thank you very much!

Now the build failed, I have the following error messages:

CMake Error at cmake-proxies/cmake-modules/conan.cmake:633 (message):
  Conan install failed='1'
Call Stack (most recent call first):
  cmake-prox

[2022-08-07 21:37] Quants0 opened #113 "Most VST plugins don't work"
I installed Audacium on my Windows 11 machine, tried to load all my plugins from Audacity but almost every one gave me an error saying "Effect or command at [path to my plugins] failed to register: Could not load the library". I don't know what I'm doing wrong. Admittedly I'm not a very techy person so I apologize if this has a fairly obvious solution that I'm not aware of.

[2022-08-08 00:29] Quants0 commented on #113
It doesn't matter where I put the plugins, they don't work.

[2022-08-08 17:02] generic-pers0n commented on #113
Hello! It sounds like this is a possible bug in Audacium. Unfortunately, this is where the end of the line is.

Just to make things clear, **I am not the developer behind Audacium and provide support to any Audacium users the best I can**. I don't have the ability to fix bugs in Audacium right now because I am focusing on another similar Audacity fork that I currently lead.

Overall, I don't think

[2022-08-08 17:50] generic-pers0n commented on #112
Before going any further, I would like to mention that my support for Audacium is limited. **I am not the maintainer of Audacium. I am only providing support in order to help lost users**. Additionally, it should be noted that as of now, **there is currently no active maintainer for Audacium, so unless someone steps up as a maintainer, possible bugs with Audacium might not be fixed any time soon**

[2022-08-08 18:19] maretranquilitatis commented on #112
I understand it. When I saw the instructions I assumed that it will compile on AppleSilicon; but it seems to be that this is still on an early stage (if only I have programming skills...) Anyway, thank you very much for your assistance!

[2022-08-08 18:44] Quants0 commented on #113
I'm having this same issue with Tenacity as well. They work fine in Audacity but not in either Audacium or Tenacity.

[2022-08-08 18:54] generic-pers0n commented on #113
Huh...some investigation needs to be going on. This could be a common issue that needs to be resolved across both projects, possibly. I'll try to see what I might be able to do, if anything...

[2022-08-08 19:09] Quants0 commented on #113
Does Audacium _only_ support 64 bit plugins? Because if so then I'll just go back to using 3.0.2

[2022-08-09 00:33] generic-pers0n commented on #113
64 bit versions of Audacium and Tenacity should only support 64 bit plugins on Windows. The same can be said with 32-bit versions: they only support 32-bit plugins. The same can be said with Audacity starting with 3.0.3 and above also as their Windows builds are also 64-bit.

Note that you might need to build your own version of Tenacity or Audacium for x86 instead of x64. This is relatively easy

[2022-08-16 00:54] ArchKubi opened #114 "aur build problem"
make: Leaving directory '/home/archkubi/.cache/yay/audacium/src/audacium-1.0.0-rel/build'
==> ERROR: A failure occurred in build().
    Aborting...
[sudo] password for archkubi:
checking dependencies...
:: python-pyparsing optionally requires python-jinja: for generating Railroad Diagrams

Packages (14) cmake-3.23.3-1  conan-1.51.0-1  libuv-1.44.2-1  nasm-2.15.05-1  python-bottle-0.12.23-1  python

[2022-08-18 14:24] generic-pers0n commented on #114
Hello!

I believe that there might be an issue building Audacium with newer versions of wxWidgets because of a signature change in a certain struct. Removing this struct is a workaround, although languages could be impacted.

Note that **currently, there is no maintainer behind Audacium. I am also NOT the maintainer of Audacium**. I have decided to provide assistance wherever I can to users of Aud

[2022-09-10 21:53] newtonGnu commented on #92
I have the same issue and reproduced this bug, even with the `-Daudacity_use_pa_jack=loaded` build option, jack is not available. Any other approaches or ideas would be very appreciated 👍🏻

[2022-09-12 09:01] ewanm89 commented on #112
There is no reason apple silicon should be an issue, it is just ARM, as said, full output log needed here.

[2022-09-19 09:02] Rossmaxx commented on #111
took a look at twisted wave. the ui looks a bit less cluttered compared to audacity. but i don't know much about ui/ux development. once i learn, i'll try something.

[2022-11-15 06:33] Hidetoshi6721 opened #120 "Update Audacium to use Audacity 3.2.1 as the base"
**Is your feature request related to a problem? Please describe.**
Audacium is currently running on a much older version of Audacity.

**Describe the solution you'd like**
I'd like the base to be upgraded to the latest 3.2.1.

**Describe alternatives you've considered**
Saucedacity (supposed to be replacing Tenacity).